<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <section id="task-<%= task.id %>">
    <h3><%= link_to task.title, "/tasks/#{task.id}" %></h3>
    <p><%= task.description %></p3></br>
    <%= link_to "Delete Task", "/tasks/#{task.id}", method: :delete %></br></br>
  </section>
<% end %>

<%= link_to "Tasks Welcome", "/" %>